# NRW Groundwater Data - OpenHygrisC Data Engineering

Data from <br>
**[LANUV](https://www.lanuv.nrw.de/): Landesamt für Natur, Umwelt und Verbraucherschutz Nordrhein-Westfalen** <br>
(State Office for Nature, Environment and Consumer Protection NRW)

* LANUV groundwater web pages: https://www.lanuv.nrw.de/umwelt/wasser/grundwasser

Groundwater data: https://www.lanuv.nrw.de/umwelt/wasser/grundwasser/grundwasserstand/grundwasserdaten-online

ELWAS-WEB NRW - Infos zu den Grundwasserkörpern (YouTube): https://www.youtube.com/watch?v=4wFKIu622rk

In the database HygrisC the LANUV provides groundwater quality and quantity data for most groundwater wells in NRW. The groundwater wells are partly owned and operated by NRW, partly by other parties. 
The measurement intervals are usually annual. Some groundwater well are sampled more frequently. 

WRRL: EU Wasserrahmenrichtlinie, EU Water Framework Directive

The quality data is based on chemical analyses of groundwater samples. The quantity data is based on groundwater level measurement.


OpenHygrisC Data: https://www.opengeodata.nrw.de/produkte/umwelt_klima/wasser/grundwasser/hygrisc/

**Download the NRW groundwater data zip file**:
<br>
https://www.opengeodata.nrw.de/produkte/umwelt_klima/wasser/grundwasser/hygrisc/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_CSV.zip

The zip archive contains gw station info, a catalog of possible physico-chemical analysis parameters, and the measured data. 

## Coordinate Obfuscation 

Some coordinate data in the gw station info reveal difficulties. The coordinate reference system (CRS) used is the projected metric based 
EPSG:25832 ( ETRS89 / UTM zone 32N). 
The dataframe coordinate columns `e32` (easting) and `n32` (northing) are of data type object (not numeric). 

The resolution is 1m but many coordinates are obscurred because of privacy issues to a precision of 100m. A few coordinates are missing, i.e. either empty (nan) or filled with `xx`.


The coordinate columns e32 and n32 are of data type object/string. Four cases must be distinguished:

* Most strings are in a regular number format and can be converted to float right away (case (1) and (2) in the table)
* Other coordinate strings are obfuscated by replacing the two least significant decimal places with the characters "xx". This usually happens when a groundwater well is on private property. The coordinates are made less precise to respect privacy. The remaining coordinate information is still usable. The precision is limited to 100 meters. The uncertainty is +- 50m. (case (3) in the table)
* In some cases no coordinate infomation is given at all. In these cases the coordinate strings are just "xx". (case (4) in the table)
* In a very few cases the coordinate columns are empty, i.e. NaN (Null). (case (5) in the table)

The following table shows representative cases.


| case |   messstelle_id | e32    | n32     | grundstueck   |
|-----:|----------------:|-------:|--------:|:--------------|
|  (1) |        10000094 | 292868 | 5632572 | oeffentlich   |
|  (2) |        10000045 | 299399 | 5650595 | privat        |
|  (3) |        10000033 | 3070xx | 56583xx | privat        |
|  (4) |        47247101 | xx     | xx      |               |
|  (5) |        79921802 | nan    | nan     |               |

Case (1) and (2) have coordinate strings which can be immediately converted to integer or float with 1m precision. Case (3) shows coordinate obfuscation to a precision to 100m. The digits representing tens and ones are anonymized. Case (4) and (5) show useless coordinate information.  

How to deal with non-anonymized data:

"299399" (string, prec. 1) => 299399.0 (float) 

How to deal with anonymization:

307000 <= 3070xx <= 307099

"3070xx" (string, prec. 100) => 307050 (float, +- 50m)

In [25]:
!conda env list

# conda environments:
#
base                     C:\Users\rb\Anaconda3
dash                     C:\Users\rb\Anaconda3\envs\dash
geo                   *  C:\Users\rb\Anaconda3\envs\geo
geo2                     C:\Users\rb\Anaconda3\envs\geo2
dash                     C:\users\rb\Anaconda3\envs\dash

## Correct wrong `PROJ_LIB` environment variable value 

This problem seems to occur on Windows when using the OSGeo4W installer. The environment variable must point to a user specific directory and according to the activated conda environment, e.g. `PROJ_LIB=C:\Users\<username>\Anaconda3\envs\geo\Library\share\proj`

In [26]:
# Correct wrong environment variable value occurring when using OSGeo4W installer

import os
#proj_lib = os.environ['proj_lib']
#print(proj_lib)

conda_prefix = os.environ['conda_prefix']
print(f"CONDA_PREFIX: {conda_prefix:s}")
os.environ['proj_lib'] = conda_prefix + r"\Library\share\proj"
proj_lib = os.environ['proj_lib']
print(f"New env var value: \nPROJ_LIB={proj_lib:s}")

CONDA_PREFIX: C:\Users\rb\Anaconda3\envs\geo
New env var value:
PROJ_LIB=C:\Users\rb\Anaconda3\envs\geo\Library\share\proj

## Imports

In [27]:
import pandas as pd
import geopandas as gpd

## Data Directories and Files

In [12]:
data_in_dir = r"../data/original/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_CSV/"

gw_station_fname = r"opendata.gw_messstelle.csv"
gw_quality_fname = r"opendata.gw_chemischer_messwert.csv"

gw_station_pfname = data_in_dir + gw_station_fname
gw_quality_pfname = data_in_dir + gw_quality_fname
print(f"Stationsdaten:  {gw_station_pfname:s}")
print(f"Qualitätsdaten: {gw_quality_pfname:s}")

Stationsdaten:  ../data/original/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_CSV/opendata.gw_messstelle.csv
Qualitätsdaten: ../data/original/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_CSV/opendata.gw_chemischer_messwert.csv

## GW Station Data

In [13]:
df = pd.read_csv(gw_station_pfname, sep = ";", index_col=["messstelle_id"])

In [14]:
df.sort_index(ascending=True, inplace=True)

In [15]:
num_total = df.shape[0]
df.shape

(71120, 38)

In [16]:
df.head(5)

,sl_nr,name,e32,n32,gw_stockwerk,grundstueck,gemeinde_id,gwhorizont_id,gwhorizont,gwleiter_id,...,beobachtung_wasserstand,eigentuemer,betreiber,filterlaenge_cm,sumpfrohrlaenge_cm,ausbaudurchmesser_mm,historischer_ruhe_wsp,einbaulaenge_cm,oberkante_filter_cm,unterkante_filter_cm
messstelle_id,,,,,,,,,,,,,,,,,,,,,
10000008,70796,P3-BSR/Mariaschacht P 5 neu,3068xx,56254xx,1.0,,05334032,NaN,NaN,NaN,...,-,BSR Schotterwerk ...,Enwor GmbH ...,700.0,NaN,80.0,NaN,1570.0,21053.0,20353.0
10000010,1,SCHERPENSEEL NR 1,2935xx,56452xx,1.0,privat,05370028,6D,Neurather Sand,NaN,...,-,Land NRW ...,keine Angabe ...,400.0,NaN,100.0,NaN,4936.0,7731.0,7331.0
10000021,2,Bellinghoven Nr. 2,312776,5660432,1.0,privat,05370004,14,Ältere Hauptterrassen,NaN,...,-,keine Angabe ...,keine Angabe ...,NaN,NaN,1000.0,NaN,1411.0,7885.0,7885.0
10000033,3,Doveren Nr. 3,3070xx,56583xx,1.0,privat,05370020,16,Jüngere Hauptterrassen mit Lößauflagerung,Hj,...,-,Privatperson ...,keine Angabe ...,NaN,NaN,1000.0,NaN,755.0,4847.0,4847.0
10000045,4,Geilenkirchen Nr. 5,299399,5650595,1.0,privat,05370012,10,Sande und Kiese,NaN,...,-,Privatperson ...,keine Angabe ...,200.0,NaN,1000.0,NaN,1079.0,6140.0,5940.0

In [22]:
df[df["grundstueck"]=="oeffentlich"]

,sl_nr,name,e32,n32,gw_stockwerk,grundstueck,gemeinde_id,gwhorizont_id,gwhorizont,gwleiter_id,...,beobachtung_wasserstand,eigentuemer,betreiber,filterlaenge_cm,sumpfrohrlaenge_cm,ausbaudurchmesser_mm,historischer_ruhe_wsp,einbaulaenge_cm,oberkante_filter_cm,unterkante_filter_cm
messstelle_id,,,,,,,,,,,,,,,,,,,,,
10000094,9,Richterich Nr. 11,292868,5632572,1.0,oeffentlich,05334002,NaN,NaN,kro,...,-,Bahnbrunnen ...,keine Angabe ...,NaN,NaN,3000.0,NaN,954.0,17351.0,17351.0
10000173,19,WALLENTHAL NR 20,328303,5604342,1.0,oeffentlich,05366024,SM,Mittlerer Buntsandstein,NaN,...,durch LANUV,keine Angabe ...,keine Angabe ...,NaN,NaN,1000.0,NaN,400.0,37030.0,37030.0
10132314,27,Zülpich 17 A,334240,5618380,1.0,oeffentlich,05366044,16,Jüngere Hauptterrassen mit Lößauflagerung,NaN,...,durch LANUV,Land NRW ...,Land NRW ...,100.0,200.0,100.0,NaN,530.0,17261.0,17161.0
10132326,28,Zülpich 17 B,334240,5618379,2.0,oeffentlich,05366044,9B,Sande und Kiese,NaN,...,durch LANUV,Land NRW ...,Land NRW ...,200.0,200.0,100.0,NaN,3165.0,14721.0,14521.0
10133318,33,Euskirchen I/26,343605,5613273,1.0,oeffentlich,05366016,16,Jüngere Hauptterrassen mit Lößauflagerung,NaN,...,-,Land NRW ...,Land NRW ...,100.0,0.0,80.0,NaN,759.0,16816.0,16716.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289197338,66542,Gohr 2,341498,5664187,1.0,oeffentlich,05162004,19,Niederterrassen mit Lößauflagerung,NaN,...,-,NaN,NaN,200.0,100.0,65.0,NaN,2000.0,2484.0,2284.0
289197417,66543,Gohr 3,341645,5664302,1.0,oeffentlich,05162004,19,Niederterrassen mit Lößauflagerung,NaN,...,-,NaN,NaN,200.0,100.0,65.0,NaN,1000.0,3568.0,3368.0
289197429,66544,Gohr 3,341645,5664302,1.0,oeffentlich,05162004,19,Niederterrassen mit Lößauflagerung,NaN,...,-,NaN,NaN,200.0,100.0,65.0,NaN,1500.0,3062.0,2862.0
289197430,66545,Gohr 3,341645,5664302,1.0,oeffentlich,05162004,19,Niederterrassen mit Lößauflagerung,NaN,...,-,NaN,NaN,200.0,100.0,65.0,NaN,2000.0,2556.0,2356.0
289197910,66922,Noithausen,331448,5664032,1.0,oeffentlich,05162008,18,Untere- und mittlere Mittelterrassen mit Lößau...,NaN,...,-,NaN,NaN,200.0,100.0,65.0,NaN,NaN,NaN,NaN

## Challange: Coordinates obfuscation

The coordinate columns e32 and n32 are of data type string. Four cases must be distinguished:

(1) Most strings are in a regular number format and can be converted to float right away.

(2) Other coordinate strings are obfuscated by replacing the two least significant digits with the characters "xx". This usually happens when a groundwater well is on private property. The coordinates are made less precise to respect privacy. The remaining coordinate information is still usable. The precision is limited to 100 meters. The uncertainty is +- 50m. 

(3) In some cases no coordinate infomation is given at all. In these cases the coordinate strings are just "xx".

(4) In a very few cases the coordinate columns are empty, i.e. NaN (Null).

In [23]:
# These four groundwater wells summarize the coordinate problems.
df_coord_problem=df.loc[[10000094, 10000045, 10000033, 47247101, 79921802],["e32","n32", "grundstueck"]]
df_coord_problem

                  e32      n32  grundstueck
messstelle_id
10000094       292868  5632572  oeffentlich
10000045       299399  5650595       privat
10000033       3070xx  56583xx       privat
47247101           xx       xx
79921802          NaN      NaN

In [28]:
# forma table as markdown
from tabulate import tabulate
print(tabulate(df_coord_problem, tablefmt="pipe", headers="keys"))

|   messstelle_id | e32    | n32     | grundstueck   |
|----------------:|:-------|:--------|:--------------|
|        10000094 | 292868 | 5632572 | oeffentlich   |
|        10000045 | 299399 | 5650595 | privat        |
|        10000033 | 3070xx | 56583xx | privat        |
|        47247101 | xx     | xx      |               |
|        79921802 | nan    | nan     |               |

**Boolean indexes are used to filter the data according to the cases (1) to (4).**

In [29]:
# Add column for precision
df["genau"] = 0

# (1) If the coord data is numeric then the precision is 1m
idx_coords_1m_prec = (df["e32"].str.isnumeric() == True) 

# (3,4) Some stations don't have coordinates
# e32 and n32 strings are either NaN (Null) or "xx"
idx_coords_missing = (df["e32"].str.len() < 6) | (df["e32"].isnull() == True)

# (2) If coord data is avaliable but not numeric, then the numbers have been obscured with "XX" for the two least significant decimals.
idx_coords_100m_prec = ~idx_coords_missing &  ~(df["e32"].str.isnumeric() == True)

In [30]:
df.index[idx_coords_missing]

Int64Index([ 36446518,  36487600,  47039000,  47199003,  47200005,  47202002,
             47247101,  47299009,  59621035,  68011003,  68012007,  68013103,
             68013206,  68013309,  68013401,  68013504,  68013607,  79921802,
            118010001, 118020006, 118260005, 118550007, 118620009, 118650002,
            118810005, 118820000, 118840009, 118871900, 118880007, 129700800],
           dtype='int64', name='messstelle_id')

**Convert the strings to floats where possible. No data values are represented as negative numbers.**

In [31]:
df.loc[idx_coords_1m_prec,"e32num"] = df.loc[idx_coords_1m_prec,"e32"].astype(float)
df.loc[idx_coords_1m_prec,"n32num"] = df.loc[idx_coords_1m_prec,"n32"].astype(float)
df.loc[idx_coords_1m_prec, "genau"] = 1

In [32]:
df.loc[idx_coords_100m_prec,"e32num"] = (df.loc[idx_coords_100m_prec,"e32"].str[:-2]+"00").astype(float)
df.loc[idx_coords_100m_prec,"n32num"] = (df.loc[idx_coords_100m_prec,"n32"].str[:-2]+"00").astype(float)
df.loc[idx_coords_100m_prec, "genau"] = 100

In [33]:
df.loc[idx_coords_missing,"e32num"] = -999.9
df.loc[idx_coords_missing,"n32num"] = -999.9
df.loc[idx_coords_missing, "genau"] = -999

In [34]:
# check if all records have been matched
num_of_1m_prec = df[df["genau"] == 1].shape[0]
num_of_100m_prec = df[df["genau"] == 100].shape[0]
num_of_no_prec = df[df["genau"] == -999].shape[0]

num_check = num_of_1m_prec + num_of_100m_prec + num_of_no_prec

print(f"total num of recs:                        {num_total:6d}")
print(f"number of recs with 1m coord precision:   {num_of_1m_prec:6d}")
print(f"number of recs with 100m coord precision: {num_of_100m_prec:6d}")
print(f"number of recs with no coords:            {num_of_no_prec:6d}")
print(f"check sum:                                {num_check:6d}")

assert num_check == num_total, "ERROR. Mismatch in numbers of stations"

total num of recs:                         71120
number of recs with 1m coord precision:    59280
number of recs with 100m coord precision:  11810
number of recs with no coords:                30
check sum:                                 71120

**Save the original string as well as the derived numeric columns to a CSV file for checking externally.**

In [35]:
df[["e32","e32num","n32","n32num","genau"]].to_csv("check.csv")
df[["e32","e32num","n32","n32num","genau"]]

                  e32    e32num      n32     n32num  genau
messstelle_id
10000008       3068xx  306800.0  56254xx  5625400.0    100
10000010       2935xx  293500.0  56452xx  5645200.0    100
10000021       312776  312776.0  5660432  5660432.0      1
10000033       3070xx  307000.0  56583xx  5658300.0    100
10000045       299399  299399.0  5650595  5650595.0      1
...               ...       ...      ...        ...    ...
289382210      345323  345323.0  5659935  5659935.0      1
289382221      345323  345323.0  5659935  5659935.0      1
289382518      345603  345603.0  5659991  5659991.0      1
289382520      345603  345603.0  5659991  5659991.0      1
289382713      344170  344170.0  5660121  5660121.0      1

[71120 rows x 5 columns]

## Geopandas

In [36]:
import geopandas as gpd
from shapely.geometry import Point

In [37]:
# remove records without coords
df2 = df[df["genau"] > 0]

In [38]:
df2.shape

(71090, 41)

In [39]:
%%time
gdf = gpd.GeoDataFrame(df2, geometry=gpd.points_from_xy(df2.e32num, df2.n32num), crs="EPSG:25832")

Wall time: 2.99 s

In [40]:
gdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 71090 entries, 10000008 to 289382713
Data columns (total 42 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   sl_nr                         71090 non-null  int64
 1   name                          71090 non-null  object
 2   e32                           71090 non-null  object
 3   n32                           71090 non-null  object
 4   gw_stockwerk                  54173 non-null  float64
 5   grundstueck                   71090 non-null  object
 6   gemeinde_id                   71090 non-null  object
 7   gwhorizont_id                 28424 non-null  object
 8   gwhorizont                    28424 non-null  object
 9   gwleiter_id                   2690 non-null   object
 10  gwleiter                      2690 non-null   object
 11  einrichtungsgrund             71090 non-null  object
 12  gwk_lage_auf_id               70475 non-null  object
 13  gwk_lage_id                   70475 non-null  object
 14  gwk_monitoring_auf_id         70724 non-null  object
 15  gwk_monitoring_id             70724 non-null  object
 16  messprogramm                  16878 non-null  object
 17  turnus_wasserstand            67690 non-null  object
 18  freigabe_wstd                 71090 non-null  object
 19  freigabe_chemie               71090 non-null  object
 20  freigabe_lage                 71090 non-null  object
 21  wasserstandsmessstelle        71090 non-null  object
 22  guetemessstelle               71090 non-null  object
 23  im_wrrl_messnetz_chemie       71090 non-null  object
 24  im_wrrl_messnetz_wasserstand  71090 non-null  object
 25  messstellenart                71090 non-null  object
 26  wasserart                     16878 non-null  object
 27  labor                         16878 non-null  object
 28  beobachtung_wasserstand       68145 non-null  object
 29  eigentuemer                   45634 non-null  object
 30  betreiber                     45128 non-null  object
 31  filterlaenge_cm               38356 non-null  float64
 32  sumpfrohrlaenge_cm            32200 non-null  float64
 33  ausbaudurchmesser_mm          43277 non-null  float64
 34  historischer_ruhe_wsp         792 non-null    float64
 35  einbaulaenge_cm               59275 non-null  float64
 36  oberkante_filter_cm           59275 non-null  float64
 37  unterkante_filter_cm          59275 non-null  float64
 38  genau                         71090 non-null  int64
 39  e32num                        71090 non-null  float64
 40  n32num                        71090 non-null  float64
 41  geometry                      71090 non-null  geometry
dtypes: float64(10), geometry(1), int64(2), object(29)
memory usage: 23.3+ MB

In [41]:
gdf.head(3)

,sl_nr,name,e32,n32,gw_stockwerk,grundstueck,gemeinde_id,gwhorizont_id,gwhorizont,gwleiter_id,...,sumpfrohrlaenge_cm,ausbaudurchmesser_mm,historischer_ruhe_wsp,einbaulaenge_cm,oberkante_filter_cm,unterkante_filter_cm,genau,e32num,n32num,geometry
messstelle_id,,,,,,,,,,,,,,,,,,,,,
10000008,70796,P3-BSR/Mariaschacht P 5 neu,3068xx,56254xx,1.0,,05334032,NaN,NaN,NaN,...,NaN,80.0,NaN,1570.0,21053.0,20353.0,100,306800.0,5625400.0,POINT (306800.000 5625400.000)
10000010,1,SCHERPENSEEL NR 1,2935xx,56452xx,1.0,privat,05370028,6D,Neurather Sand,NaN,...,NaN,100.0,NaN,4936.0,7731.0,7331.0,100,293500.0,5645200.0,POINT (293500.000 5645200.000)
10000021,2,Bellinghoven Nr. 2,312776,5660432,1.0,privat,05370004,14,Ältere Hauptterrassen,NaN,...,NaN,1000.0,NaN,1411.0,7885.0,7885.0,1,312776.0,5660432.0,POINT (312776.000 5660432.000)

In [43]:
%%time

# This takes 90 secs on my computer!

#gdf.to_file("GW_Stations.gpkg", layer='GW Stations', driver="GPKG")

Wall time: 0 ns

## PostGIS, Inline SQL: `create schema gw`

To store the data in PostGIS/PostgreSQL it is recommended to create a dedicated database "schema" (a kind of name space) to separate relations (tables, views), stored procedures, etc. from the rest of the database. Schemata help to organize the tables and access privileges clearly.

In [ ]:
#!conda install -c conda-forge ipython-sql

In [ ]:
%load_ext sql

In [ ]:
print("Connect")
%sql postgresql://env_master:xxxxxx@localhost/env_db

In [ ]:
%%sql
SELECT * FROM information_schema.schemata

In [ ]:
%%sql
CREATE SCHEMA IF NOT EXISTS gw AUTHORIZATION env_master

In [ ]:
%%sql
SELECT * FROM information_schema.schemata;

## PostGIS: Upload GeoDataFrame with `gdf.to_postgis()`

Dependencies:
* psycopg2
* geoalchemy2

In [ ]:
import sqlalchemy
engine = sqlalchemy.create_engine("postgresql://env_master:xxxxxx@localhost/env_db")
# fast_executemany=True
# use_batch_mode=True

In [ ]:
%%time
gdf.to_postgis(con=engine, name="gw_stations", schema="gw", index=True, chunksize=100, if_exists="replace")

# Groundwater "Quality Data": Chemistry!

## Imports

In [ ]:
import pandas as pd

## Data Directories and Files

In [ ]:
data_in_dir = r"../data/original/OpenHygrisC_gw-messstellen-messwerte_EPSG25832_CSV/"

gw_station_fname = r"opendata.gw_messstelle.csv"
gw_quality_fname = r"opendata.gw_chemischer_messwert.csv"

gw_station_pfname = data_in_dir + gw_station_fname
gw_quality_pfname = data_in_dir + gw_quality_fname
print(f"Stationsdaten:  {gw_station_pfname:s}")
print(f"Qualitätsdaten: {gw_quality_pfname:s}")

In [ ]:
print(gw_quality_pfname)

In [ ]:
fh = open(gw_quality_pfname,"r", encoding = "utf-8", newline = '')
s = fh.readline()
s = s.replace('"', '').strip()
header_de = s[1:].split(';')
header_de

In [ ]:
df_qual = pd.read_csv(gw_quality_pfname, sep = ";", dtype = {"messergebnis_c":str ,"messergebnis_hinweis":str }, nrows = 5)

In [ ]:
df_qual.info()

The full CSV file with the chemical lab measurements comprises more than 3.6 Mio measurments!

In [ ]:
# Wall time: 13 s
%time df_qual = pd.read_csv(gw_quality_pfname, sep = ";", index_col=["sl_nr"], \
                            dtype = {"messergebnis_c":str ,"messergebnis_hinweis":str }, \
                            parse_dates = ["datum_pn", "aktual_dat", "erstell_dat"])

In [ ]:
df_qual.info()

In [ ]:
df_qual.head(3)

In [ ]:
# time series example
df_qual[(df_qual["messstelle_id"] == 59620687) & (df_qual["stoff_nr"] == 1164)].sort_values("datum_pn")

In [ ]:
# duplicate sl_nr values? Can it be a unique index?
# Result should be empty
print(df_qual[df_qual.index.duplicated()])

### Tests for different measurement value string cases

```
(1)   "1.00" (is_float)
(2)  "<1.00" (is_less)
(3)  ">1.00" (is_greater)
```

In [ ]:
# check if string can be converted to float
def is_float(element: str) -> bool:
    try:
        float(element)
        return True
    except ValueError:
        return False

In [ ]:
# check if string starts with '<'
def is_less(element: str) -> bool:
    return element[0] == "<"

In [ ]:
# check if string starts with '>'
def is_greater(element: str) -> bool:
    return element[0] == ">"

In [ ]:
# Some test applications
print("is_less()")
print(is_less("<1.234"))
print(is_less(">1.234"))
print(is_less("1.234"))
print("is_greater()")
print(is_greater("<1.234"))
print(is_greater(">1.234"))
print(is_greater("1.234"))
print("is_float()")
print(is_float("<1.234"))
print(is_float(">1.234"))
print(is_float("1.234"))

In [ ]:
# Apply the tests and create Boolean indexes
%time idx_mess_is_float   = df_qual["messergebnis_c"].apply(is_float)
%time idx_mess_is_less    = df_qual["messergebnis_c"].apply(is_less)
%time idx_mess_is_greater = df_qual["messergebnis_c"].apply(is_greater)

In [ ]:
# Print records which are neither less nor greater nor float -> should be empty data frame
assert df_qual[~idx_mess_is_less & ~idx_mess_is_greater & ~idx_mess_is_float].shape[0] == 0

# Dataframe should be empty
print(df_qual[~idx_mess_is_less & ~idx_mess_is_greater & ~idx_mess_is_float])

In [ ]:
# res = (~idx_mess_is_less & ~idx_mess_is_greater & ~idx_mess_is_float).value_counts()
res = (idx_mess_is_less | idx_mess_is_greater | idx_mess_is_float).value_counts()
res

## Convert measurement results to float when possible

In [ ]:
%time df_qual.loc[idx_mess_is_float,"messergebnis_num"] = df_qual.loc[idx_mess_is_float,"messergebnis_c"].astype(float)
%time df_qual.loc[idx_mess_is_less,"messergebnis_num"] = -9
%time df_qual.loc[idx_mess_is_greater,"messergebnis_num"] = -8

In [ ]:
# Reason for not being float? XOR: A ^ B
#idx = (~idx_mess_is_float ^ idx_mess_is_less) # These are non-floats which are be less at the same time => greater
#df_qual[idx]

In [ ]:
# Reason for not being float? XOR
#idx = (~idx_mess_is_float ^ idx_mess_is_greater)
#df_qual[idx]

In [ ]:
df_qual["messergebnis_num"]

## SQLAlchemy performance tests

`df.to_sql()` uses the `SQLalchemy library`. This library provides a SQL database API for a lot of different database management systems (DBMS), e.g. PostgreSQL, Microsoft SQL Server, etc. SQLAlchemy uses DBMS specific low level drivers such as `psycopg2` for PostgreSQL to connect to the different database systems. The following connection strings are used to connect to PostgreSQL (PG) using the psycopg22 driver (the default PG driver):

`engine = sqlalchemy.create_engine("postgresql://env_master:xxxxxx@localhost/env_db")`

`engine = sqlalchemy.create_engine("postgresql+psycopg2://env_master:xxxxxx@localhost/env_db")`

In [44]:
import sqlalchemy

### The following performance tests to not differ significantly.

In [ ]:
# the default to_sql() / sqlalchemy method using psycopg2 (default PG driver) ...
# on my laptop:
# Approx. Wall time: 5min 35s 

engine = sqlalchemy.create_engine("postgresql+psycopg2://env_master:xxxxxx@localhost/env_db")

%time df_qual.to_sql(con=engine, name="gw_meas", schema="gw", if_exists="replace")

In [ ]:
# other attempts to speed up ...
# on my laptop:
# Approx. Wall time: 5min 35s
# => no improvement
engine = sqlalchemy.create_engine("postgresql+psycopg2://env_master:xxxxxx@localhost/env_db", \
                                  executemany_mode='values', \
                                  executemany_values_page_size=10000, \
                                  executemany_batch_page_size=500)

# %time df_qual.to_sql(con=engine, name="gw_meas", schema="gw", if_exists="replace", method="multi")
%time df_qual.to_sql(con=engine, name="gw_meas", schema="gw", if_exists="replace")

### The following attempt using `method="multi"` fails with `psycopg2`! 

The parameter `method="multi"` seems to be effective with the `msodbc` driver for MS SQL Server. In `psycopg2` it causes problems.

In [ ]:
# the default to_sql() / sqlalchemy method using psycopg2 (default PG driver) ...
# on my laptop:
# Wall time: FAILED! MANUALLY INTERRUPTED AFTER 10:00 MINS.

engine = sqlalchemy.create_engine("postgresql+psycopg2://env_master:xxxxxx@localhost/env_db")

# %time df_qual.to_sql(con=engine, name="gw_meas", schema="gw", if_exists="replace", chunksize=1000)
%time df_qual.to_sql(con=engine, name="gw_meas", schema="gw", if_exists="replace", method="multi")